---
---
@import "{{ site.theme }}";

// Hide the link to source
#header {
    display: none;
}

// Post-Specific
.post-header-column {
    float: left;
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-style: italic;
}
.post-header-wrapper::after {
    content: "";
    clear: both;
    display: table;
}
