---
---
@import "{{ site.theme }}";

// -- Overall --

// Hide the link to source
#header {
    display: none;
}
// clean up spacing
section {
    margin-top: 0px;
}
#title {
    margin-bottom: 1rem;
}

// -- Posts --

.post-header-column {
    float: left;
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-style: italic;
}
.post-header-wrapper {
    margin-bottom: 2rem;
}
.post-header-wrapper::after {
    content: "";
    clear: both;
    display: table;
}
